h1 {
    text-align: center;
    margin-bottom: 64px;
}

div {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}

button {
    margin-bottom: 16px;
}